.App-container {
  max-width: 680px;
  margin: 15px auto;
  background-color: rgb(199, 227, 170);
  padding: 20px 60px;
}
.row-daysforecast {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
